body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

footer {
    background-color: #b9ffd4;
    color: rgb(9, 9, 9);
    text-align: center;
    padding: 1em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
    background: #a3defb; /* Example background color */
    color: rgb(5, 5, 5); /* Adjust text color as needed */
}

/* Remove default margin, padding, and list style */
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center; /* Center align the nav items */
}

/* Display list items inline and add some padding */
nav ul li {
    display: inline;
    margin: 0 10px; /* Adjust spacing between items as needed */
}

/* Style links for a cleaner look */
nav ul li a {
    text-decoration: none; /* Removes underline from links */
    color: #333; /* Change as per your color scheme */
    font-weight: bold; /* Optional: makes text bold */
}

/* Optional: Add a hover effect to links */
nav ul li a:hover {
    color: #007BFF; /* Change hover color as needed */
}

main {
    padding: 20px;
}

.neural-link div {
    text-align:left; /* Left the content */
}

.neural-link img {
    display: inline; /* Make the image block-level to allow for proper centering */
    margin: 0; /* Center the image horizontally */
}

.neural-link p {
    margin: 0; /* Remove default paragraph margin */
    color: #000; /* Set text color; adjust as needed */
    font-size: 16px; /* Set the size of the text; adjust as needed */
}

.home-link div {
    text-align:left; /* Left the content */
}

.home-link img {
    display: inline; /* Make the image block-level to allow for proper centering */
    margin: 0; /* Center the image horizontally */
}

.home-link p {
    margin: 0; /* Remove default paragraph margin */
    color: #000; /* Set text color; adjust as needed */
    font-size: 16px; /* Set the size of the text; adjust as needed */
}
